body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #A8E0FF;
}
.bg-light {
  background-color: #D1D0A3!important;
}

.special {
  text-align: center;
  color: #fff;
  padding: 20px;
  margin: 0px;
  background-color: #373F51;
}

.container {
  display: flex;

  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  color: #fff;
  padding: 20px;
  background-color: #373F51;
}

.portrait {
  height: 400px;
  width: auto;
  flex: 1;
}

.bio {
  flex: 1;
}

.special h3 {
  margin: 50px 0px;
}

.contact {
    text-align: center;
    padding: 20px;
    color: #000;
    background-color: #D1D0A3;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #000;
  background-color: #373F51;
}

.repairlist {
  margin-left: 10px;
}

.service {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.info {
  display: flex;

  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  color: #fff;
  padding: 20px;
  background-color: #373F51;
}

@media (min-width: 48em) {
      .navbar-nav {
        margin-left: auto!important;
        margin-right: 0!important;
    }
    .photo img {
      width: 100%;
      background-color: #CC3F0C;
      max-height: 300px;
      object-fit: cover;
    }
    .container {
      display: flex;
      flex-direction:row;
      align-items:center;
      color: #fff;
      margin: auto;
      margin-top: 50px;
      background-color: #373F51;
    }
    .bio {
      flex: 1;
      margin-left: 50px;
    }
    .repairlist {
      align-items: center;
      margin-bottom: auto;
      margin: auto;
      justify-content: flex-end;
      }
    .service {
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .info {
      display: flex;

      flex-direction: column;
      margin-top: 20px;
      align-items: center;
      color: #fff;
      padding: 20px;
      background-color: #373F51;
    }
